.app{
background: teal;
display: flex;
border-radius: 10px;
margin-top: 1px;
}

.item-form{
    height: 500px;
    width: 25%;
    margin-top: 1rem;
    box-shadow: 0 2px 20px cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-input{
    width: 250px;
}

.selector,
.form-button{
    width: auto;
    padding: 10px;
        font-weight: bold;
        font-size: 16px;
        border: 2px solid cadetblue;
        background: transparent;
        border-radius: 2px;
        margin-top: 1px;
        box-shadow: 0 2px 20px cadetblue;
        cursor: pointer;
        margin-top: 15px;
}

.form-button{
    margin-top: 110px;
}

.top{
    background-color: cadetblue;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.cart{
    height: 20px;
    width: 20px;
}

input{
    height: 25px;
    margin: 5px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));gap:2rem;
    justify-content: center;
    margin-top: 1rem;
    
    flex-grow: 1;
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 20px cadetblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 400ms ease-in;
}


.card-image {
    height: 13rem;
    width: 100%;
}

.remove-item{
    height: 25px;
    width: 25px;
}

.card-btns{
    margin-bottom: 5px;
}

.remove{
    width: 200px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.remove img{
    cursor: pointer;
}

.details-button, .cart-button {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid cadetblue;
    background: transparent;
    border-radius: 2px;
    margin-top: 1px;
    box-shadow: 0 2px 20px cadetblue;
    cursor: pointer;;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

.card:hover{
    transform: scale(1.04);
}




/*SEARCH FORM*/
.search-container{
    background-color: linen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-image{
    height: 15px;
    width: 15px;
}

.form-search{
    margin-top: 1px;
    width: 100%;
    max-width: 700px;
    background: cadetblue;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.form-search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 18px;
    color: rgb(6, 63, 6);
}

::placeholder{
    color:darkslategrey ;
}

.form-search button{
    width: 25px;
    

}

.form-search button {
border: 0;
border-radius: 50%;
width: 60px;
height: 60px;
background: darkslategrey;
cursor: pointer;
}